@media (max-width: 1024px ) {
    .main-container{
        display: flex;
        flex-direction: column;
    }  
}
@media (max-width: 768px) {
    .article-preview{
        flex-direction: column;
    }
}
@media (max-width: 599px){
    .main-container{
        margin: 0;
    }
    
}
    
